body {
    margin: 0;
    padding: 0;
}

img {
    margin: 10px;
}

div#headerBox {
    border: 5px solid black;
    margin: 5px;
    text-align: center;
    font-style: bold;
    background-color: #f1f1f1;
}

div#middleBox {
    background-color: #f1f1f1;
    border: 5px solid black;
    margin: 5px;
}

.flex_cont {
    display: flex;
}

.flex_item {
    flex: 1;
}

.nav_bar {
    margin: 2px;
    border: 2px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: black;
    background-color: rgb(F1, F1, F1);
}

h2 {
    text-align: center;
    font-size: 18;
    font-style: italic;
}

.Feedback { 
    width: 450px; 
}
